[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-sdk = "~=3.31.0"
python-dateutil = "~=2.9.0"
google-cloud-bigquery = "~=3.10.0"
google-cloud-secret-manager = "~=2.20.0"
google-crc32c = "~=1.5.0"
pandas = "~=2.2.2"
db-dtypes = "~=1.1.1"

[dev-packages]
ruff = "~=0.5.5"
pytest = "*"
mypy = "*"
ipython = "*"
types-python-dateutil = "~=2.8.19.12"
pandas-stubs = "~=2.2.1.240316"

[requires]
python_version = "3.11"
