[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-sdk = "~=3.21.3"
python-dateutil = "~=2.8.2"
google-cloud-bigquery = "~=3.23.1"
google-cloud-secret-manager = "~=2.18.2"
google-crc32c = "~=1.5.0"
pandas = "~=2.2.2"
db-dtypes = "~=1.1.1"

[dev-packages]
flake8 = "*"
pytest = "*"
isort = "*"
black = "*"
mypy = "*"
ipython = "*"
types-python-dateutil = "~=2.8.19.12"
pandas-stubs = "~=2.2.1.240316"

[requires]
python_version = "3.11"
